@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme('colors.border');
  }
  html {
    color-scheme: dark;
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  :focus-visible {
    outline: 2px solid theme('colors.teal');
    outline-offset: 2px;
  }
}
